<ion-header>
    <ion-toolbar>
        <ion-title>Prueba FireStore Insertar Datos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- botón de volver a HOME-->
    <ion-button routerLink="/home">
        Acceder a Home
        <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>


    <ion-item>
        <ion-label>Título</ion-label>
        <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
    </ion-item>

    <ion-button (click)="clickBotonInsertar()">Añadir Tarea</ion-button>

</ion-content>