<ion-header>
    <ion-toolbar>
        <ion-title>Prueba FireStore Insertar Datos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- botón de volver a HOME-->
    <ion-button routerLink="/home">
        Acceder a Home
        <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>

    <!-- campos de insersión de datos y botón de envío  -->
    <ion-item>
        <ion-label>Título</ion-label>
        <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Descripción</ion-label>
        <ion-input [(ngModel)]="tareaEditando.descripcion"></ion-input>
    </ion-item>

    <ion-button (click)="clickBotonInsertar()">Añadir Tarea</ion-button>


    <!-- lista de consulta de tareas -->
    <h1>Lista de Tareas</h1>
    <ion-list>
        <ion-item *ngFor="let documentTarea of arrayColeccionTareas">
            <ion-grid>
                <ion-row>
                    <h2>{{documentTarea.data.titulo}}</h2>
                </ion-row>
                <ion-row>
                    <p>{{documentTarea.data.descripcion}}</p>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>

</ion-content>