<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div>
                <p>MuniApp</p>
            </div>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

    <ion-button color="success" expand="full" routerLink="/pagina1">
        Enviar una Solicitud
    </ion-button>
    <ion-button color="medium" expand="full" routerLink="/solicitudes">
        Revisar Solicitudes
    </ion-button>


    <p class="ion-text-end"><a routerLink="">cerrar sesión</a></p>

</ion-content>